/*
1.) First decide on what are the main elements in the document
2.) Figure out about how much of the page each element will take
3.) Use vh for the height properties of the main elements
4.) If there are two main elements meant to be next to each other, set the width by percentage (we use percentage because the width will always total to 100% - no one wants to scroll left to right when browsing)

5.) When using display: flex, set all of the flex properties on the parent div that contains the cards . The flex properties would not be set on the cards

6.) The .playfield grtxœ div in this example would be given a height and width of 100% of its parent, main.*/

body {
  margin: 0px;
  background-color: lightblue;
}

header {
  height: 15vh;
  font-size: 1.5em;
  text-align: center;

}

.outer-container {
  height: 85vh;
  display: flex;
  background-color: lightgoldenrodyellow;
}

aside {
  height: 100%;
  width: 25%;
}

main {
  height: 100%;
  width: 75%;
  background-color: pink;
}

.playfield {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: mintcream;
  justify-content: space-around;
  align-content: space-around;
}

.card {
  position: relative;
  height: 33%;
  width: 15%;
  border: 1px solid white;
}

.back, .front, .js-logo{
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.back {
  position: absolute;
  background-image: url('../images/lfz-card.jpg');
}

.js-logo {
  background-image: url('../images/js-logo.png');
}

.php-logo {
  background-image: url('../images/php-logo.jpeg');
}

.hidden {
  display: none;
}
aside > * {
  height: 12%;
  text-align: center;
  font-size: 1.5rem;
}

aside div {
  border: 1px solid black;
  border-radius: 4%;
  background-color: lightblue;
}

#winnerModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: 70vh;

}


.modalContent {
  text-align: center;
  height: 90%;
  background-color: rgb(223, 223, 198);
}

/* .modalContent * {
  position: relative;
} */


#resetGameBtn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;
  width: 80%;
  background-color: rgb(100,255,0);
  border-radius: 10%;
}
