* {
  box-sizing: border-box;
}

body {
  background: url('../images/urbanbgd.jpeg') center fixed no-repeat;
  background-size: cover;
  margin: 0px;
  font-family: 'Knewave';
  height: 100vh;
  background-color: rgb(58, 58, 58);
}

#resetGameBtn, #acknowledge-button {
  background-color: rgb(155, 176, 125);
}

header, .modalContent {
  text-align: center;
}

header {
  position: relative;
  height: 20%;
}

.outer-container {
  position: relative;
  height: 80%;
}

/* .avatar {
  background: url('../images/guess.jpg') no-repeat;
  background-size: contain;
  height: 110px;
  width: 110px;
  position: absolute;
  left: 0;
  top: 100px;
} */

h1 {
  font-size: 30px;
}

.modalContent p {
  font-size: 20px;
}

h1 {
  text-shadow: 3px 3px black;

}

h1, .modalContent p {
  color: rgb(53, 101, 222);
}

.playfield {
  display: flex;
}

.modalContent {
  background-color: rgb(33, 32, 33);
}

main, .playfield, .back, .front, .js-logo {
  height: 100%;
}

main {
  width: 100%;
}

p {
  margin: auto;
}

.playfield {
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.card {
  position: relative;
  height: 33%;
  width: 15%;
  transform-style: preserve-3d;
  transition: 0.6s ease;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.6s ease;
}

.back, .front {
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;


}

.back {
  /* position: absolute; */
  background-image: url('../images/cardback.JPG');
  background-color: #000;
}

.front {
  background-color: #FFF;
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.tanuk-e {
  background-image: url('../images/e.jpg');
}

.fox {
  background-image: url('../images/fox.jpg');
}

.tea {
  background-image: url('../images/tea.JPG');
}

.leaf {
  background-image: url('../images/leaf.JPG');
}

.red {
  background-image: url('../images/red.JPG');
}

.dawson {
  background-image: url('../images/dawson.JPG');
}

.matcha {
  background-image: url('../images/matcha.JPG');
}

.hat {
  background-image: url('../images/hat.JPG');
}

.heart {
  background-image: url('../images/heart.JPG');
}

.hidden {
  display: none;
}

#intro-modal {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

#winnerModal, .intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.modalContent, .intro-content {
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 25px;
  border: solid 10px rgb(88, 92, 83)
}

#resetGameBtn, #acknowledge-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  width: 50%;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding: 0 15px;
}

.modalContent p {
  text-shadow: 1px 1px white;
}

/* Media Queries for Browsers*/

@media (min-width: 310px){
  body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  header {
    height: 40%;
  }

  .outer-container {
    height: 60%;
  }

  .card {
    height: 15%;
    width: 33%;
  }

  .intro-content {
    width: 50%;
  }
}

@media (min-width: 660px){
  .card {
    height: 33%;
    width: 15%;
  }

}

/* Media Queries for Mobile Devices */

@media (min-width: 200px) and (orientation: portrait){
  body {
    background-size: contain;
    background-position: 0 0;
  }

  header {
    height: 20%;
  }

  .outer-container {
    height: 80%;
  }

  .card {
    height: 15%;
    width: 33%;
  }
}

@media (min-width: 300px) and (orientation: portrait){
  header {
    height: 15%;
  }

  .outer-container {
    height: 85%;
  }

  .intro-content {
    width: 90%;
  }
}

@media (min-width: 700px) and (orientation: portrait){
  header {
    height: 20%;
  }

  .outer-container {
    height: 80%;
  }

  .intro-content, #acknowledge-button {
    font-size: 30px;
  }

  .intro-content {
    width: 60%;
  }
}
